.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-1 .u-form-1 {
  height: 78px;
  width: 655px;
  margin: 26px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.5626em;
  padding: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 55px;
    margin-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-right: 11px;
    margin-left: -11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-image: none;
  margin: 150px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 96px auto 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}